/* 2019 Website - Media Queries */
//$mini: "screen and (max-device-width: 319px)";
$mobile: "only screen and (max-width: 480px)";
$tablet: "only screen and (min-width: 481px) and (max-width: 1024px)";
$laptop: "only screen and (min-width: 1024px) and (max-width: 1600px)";
$wide: "only screen and (min-width: 1601px)";
